{% extends "base.html" %}
{% block tabtitle %}Articles Details{% endblock tabtitle %}

{% block title %}<ul><h5>Article Title: <strong>{{articles.Title}}</strong></h5></ul>{% endblock title %}



{% block content %}
<hr>
<ul>{{articles.Body}}</ul>
<hr>
<ul><li>Author: {{articles.Author}}</li></ul>

<hr>
<p><ul>Comments For Article : </ul></p>
<ul>
    {% for comment in object.comments.all %}
    <ul><li><strong>{{comment.writer}}</strong> | {{comment.comment}}</li></ul>
    {% endfor %}
</ul>
<ul>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="comment">
</form>
</ul>
{% endblock content %}

