{% extends "base.html" %}
{% block tabtitle %}Articles{% endblock tabtitle %}
{% block title %}<ul><h3>Articles to Read</h3></ul>{% endblock title %}



{% block content %}

<br>
<br>
<hr>
<div class="container-fluid">
    <div class="row">
    <div class="col col-lg-6 ">
        <strong>Article Name</strong>
    </div>
    <div class="col col-lg-2">
        <strong>Author</strong>
    </div>
    <div class="col col-lg-2">
       <strong>Edit</strong>
    </div>
    <div class="col col-lg-2">
        <strong>Created | Modified</strong>
     </div>
    </div>
</div>
<hr>

{% for article in articles  %}

    <div class="container-fluid">
        <div class="row">
        <div class="col col-lg-6">
            <li><a href="{% url "ArticleDetailView_url" article.id %}">{{article.Title}}</a></li>
        </div>
        <div class="col col-lg-2">
            <strong>{{article.Author}}</strong>
        </div>
        <div class="col col-lg-2">
            {% if user == article.Author %}
                 <a href="{% url "ArticleUpdateView_url" article.id %}">Update<a/>  | <a href="{% url "ArticleDeleteView_url" article.id %}">Delete</a> 
            {% else %}
                <a href="">-<a/> | <a href="">-</a>

            {% endif %}
        </div>
        <div class="col col-lg-2">
            {{article.Created | timesince}} | {{article.Edited | date}}
        </div>
        </div>
    </div>
    <hr>
  
{% endfor %}




{% endblock content %}





